<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Lab 4 - Notes Form</title>
    <style>
      .totoro {
        position: absolute;
        bottom: 1rem;
        animation: walk-right 20s linear infinite;
        width: 12rem;
      }

      .table-bordered td,
      .table-bordered th {
        border: 1px solid black !important;
      }

      @keyframes walk-right {
        from {
          left: -20vw;
        }
        to {
          left: 100vw;
        }
      }
    </style>
  </head>
  <body style="overflow-x: hidden">
    <div>{% include "navbar.html" %}</div>
    <div class="container mt-4 h-full">
      <div>
        <h3>Add a note</h3>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">To</label>
            <input
              type="text"
              class="form-control"
              id="messageTo"
              name="messageTo"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">From</label>
            <input
              type="name"
              class="form-control"
              id="messageFrom"
              name="messagefrom"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            <input
              type="text"
              class="form-control"
              id="message"
              name="message"
              required
            />
          </div>
          <div class="d-flex justify-content-between mt-4">
            <a href="/lab-4">
              <button type="button" class="btn btn-outline-danger mr-2">
                Cancel
              </button>
            </a>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <img
      src="https://64.media.tumblr.com/dbde3eb8a96b0960464e3e06ee5ab4df/tumblr_pfaijsOChg1u2yfqbo1_500.gifv"
      class="totoro"
    />
  </body>
</html>
