<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Lab 4 - Notes</title>
    <style>
      .totoro {
        position: absolute;
        bottom: 1rem;
        animation: walk-right 20s linear infinite;
        width: 12rem;
      }

      @keyframes walk-right {
        from {
          left: -20vw;
        }
        to {
          left: 100vw;
        }
      }
    </style>
  </head>
  <body style="overflow-x: hidden">
    <div>{% include "navbar.html" %}</div>

    <div class="container py-4">
      <div class="row">
        <div class="col-sm-12 px-0">
          {% if user.is_authenticated %}
          <p>
            <span style="font-weight: 500">Signed in as:</span> {{ user }},
            <a href="/lab-4/sign-out">Sign Out</a>
          </p>
          {% else %}
          <p style="font-weight: 500">
            You are not logged in, <a href="/admin/login/?next=/lab-4">Login</a>
          </p>
          {% endif %}
        </div>
        <div class="col-sm-12 px-0 d-flex justify-content-between w-full mb-2">
          <h3>Your Notes</h3>
          {% if user.is_authenticated %}
          <a href="add-note">
            <button class="btn btn-success">Add Note</button>
          </a>
          {% else %}
          <a href="#">
            <button class="btn btn-danger" disabled>Add Note</button>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Title</th>
            <th>Message</th>
            <th>Actions</th>
          </tr>
          {% for i in notes %}
          <tr>
            <td style="vertical-align: middle">{{i.messageTo}}</td>
            <td style="vertical-align: middle">{{i.messagefrom}}</td>
            <td style="vertical-align: middle">{{i.title}}</td>
            <td style="vertical-align: middle">{{i.message}}</td>
            <td style="width: 0; white-space: nowrap">
              {% if user.is_authenticated %}
              <a class="btn btn-danger" href="/lab-4/delete?id={{ i.id }}">
                Delete
              </a>
              {% else %}
              <button disabled class="btn btn-danger">Delete</button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          <!-- END SECTION -->
        </table>
      </div>
    </div>
    <img
      src="https://64.media.tumblr.com/dbde3eb8a96b0960464e3e06ee5ab4df/tumblr_pfaijsOChg1u2yfqbo1_500.gifv"
      class="totoro"
    />
  </body>
</html>
