<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark mb-3"
  style="padding-left: 12rem; padding-right: 12rem"
>
  <a class="navbar-brand" href="#">4th Lab</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/lab-4">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lab-4/cards">Card View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lab-4/add-note">Add Notes</a>
      </li>
    </ul>
  </div>
</nav>
